{% extends "storyboard/base.html" %}
{% load static %}
{% static "" as baseUrl %}

{% block user-info %}
<div style = "color:white; font-size: 18px; padding-top: 5pt; padding-right: 5pt;">
    <a class="navbar-brand" href="/login" style="padding-top: 2pt;">Log Out</a>
    {{user.username}}
</div>
{% endblock %}

{% block content %}

<h2>Conjugate the following verb in the {{ conjugation.tense }} tense</h2>
<h3>{{ conjugation.verb }}</h3>

<div class="grid-container">
    <div class="grid-item">
      <label for="je">Je:</label>
      <input type="text" id="je" name="je">
    </div>
    <div class="grid-item">
      <label for="tu">Tu:</label>
      <input type="text" id="tu" name="tu">
    </div>
    <div class="grid-item">
      <label for="il_elle_on">Il/Elle/On:</label>
      <input type="text" id="il_elle_on" name="il_elle_on">
    </div>
    <div class="grid-item">
      <label for="nous">Nous:</label>
      <input type="text" id="nous" name="nous">
    </div>
    <div class="grid-item">
        <label for="vous">Vous:</label>
        <input type="text" id="vous" name="vous">
    </div>
    <div class="grid-item">
        <label for="ils_elles">Ils/Elles:</label>
        <input type="text" id="ils_elles" name="ils_elles">
    </div>
</div>
  
{% if messages %}
    {% for message in messages %}
        {% if 'error' in message.tags %}
            <p style="color:maroon;">{{ message }}</p>
        {% endif %}
        {% if 'success' in message.tags %}
            <p style="color: #6AC47E;">{{ message }}</p>
            <a class="btn main" href="{% url 'section2_questionpage' qid|add:'1' 0 %}">Next Question</a>
        {% endif %}
    {% endfor %}
{% endif %}

<button class="btn main" onclick="checkInput()" id="checkans">Submit</button>

<script>
function checkInput(){
        const token = getCSRFToken();
        const ids = ['je', 'tu', 'il_elle_on', 'nous', 'vous', 'ils_elles']
        const fields = []
        for (let i=0; i<6; i++){
            fields.push(document.getElementById(ids[i]).value);
        }
        $.ajax({
            url:"check_conj_practice", 
            type:"POST",
            data: {
                "conjugations": fields,
                "csrfmiddlewaretoken": token, 
            }, 
            dataType:"json", 
            success: function(response){
                if(response[0].correct){
                    const submit_button = document.getElementById('checkans');
                    submit_button.style.display = 'none';
                }
            } 
            });
    }
</script>

{% endblock %}