<div style="width: 70%; height: 90%; position: relative; background: white">
    <img style="width: 338px; height: 306px; left: 1074px; top: 25px; position: absolute" src="https://placehold.co/338x306" />
    <img style="width: 338px; height: 306px; left: 1064px; top: 25px; position: absolute; mix-blend-mode: screen" src="https://placehold.co/338x306" />
    <div style="width: 499px; left: 53px; top: 25px; position: absolute; color: #313638; font-size: 40px; font-family: Euclid Circular A; font-weight: 600; word-wrap: break-word">Identify verb tense</div>
    <div style="left: 393px; top: 40px; position: absolute; text-align: center; color: white; font-size: 20px; font-family: Euclid Circular A; font-weight: 400; line-height: 20px; word-wrap: break-word">Je                    une pomme</div>
    <div style="width: 694px; left: 157px; top: 363px; position: absolute; text-align: center; color: black; font-size: 40px; font-family: Euclid Circular A; font-weight: 400; word-wrap: break-word">Je ______ une pomme.</div>
    <div style="width: 795px; height: 48px; left: 56px; top: 70px; position: absolute; color: #7A7A7A; font-size: 24px; font-family: Euclid Circular A; font-weight: 400; word-wrap: break-word">What tense should be used in this sentence?</div>
    <div style="width: 377px; height: 119px; padding: 10px; left: 763px; top: 177px; position: absolute; background: #212226; border-top-left-radius: 10px; border-top-right-radius: 10px; border-bottom-left-radius: 10px; justify-content: flex-start; align-items: flex-start; gap: 10px; display: inline-flex">
        <div style="width: 342px; height: 99px; justify-content: center; display: flex; flex-direction: column; color: white; font-size: 20px; font-family: Euclid Circular A; font-weight: 400; line-height: 20px; word-wrap: break-word">Context: You are describing what you<br/>eating right now</div>
    </div>
    <div style="width: 922px; padding: 14.50px; left: 95px; top: 495px; position: absolute; background: #6AC47E; border-radius: 14px; outline: 1px #6AC47E solid; outline-offset: -1px; flex-direction: column; justify-content: center; align-items: center; gap: 10px; display: inline-flex">
        <div style="text-align: center; color: white; font-size: 17px; font-family: Euclid Circular A; font-weight: 400; line-height: 27px; word-wrap: break-word">Présent (present)</div>
    </div>
    <div style="width: 922px; padding: 14.50px; left: 95px; top: 568px; position: absolute; background: rgba(106.05, 195.91, 125.52, 0); border-radius: 14px; outline: 1px black solid; outline-offset: -1px; flex-direction: column; justify-content: center; align-items: center; gap: 10px; display: inline-flex">
        <div style="text-align: center; color: black; font-size: 17px; font-family: Euclid Circular A; font-weight: 400; line-height: 27px; word-wrap: break-word">Futur proche (near future)</div>
    </div>
    <div style="width: 922px; padding: 14.50px; left: 95px; top: 641px; position: absolute; background: rgba(106.05, 195.91, 125.52, 0); border-radius: 14px; outline: 1px black solid; outline-offset: -1px; flex-direction: column; justify-content: center; align-items: center; gap: 10px; display: inline-flex">
        <div style="text-align: center; color: black; font-size: 17px; font-family: Euclid Circular A; font-weight: 400; line-height: 27px; word-wrap: break-word">Passé composé (past)</div>
    </div>
    <div style="width: 922px; padding: 14.50px; left: 95px; top: 714px; position: absolute; background: rgba(106.05, 195.91, 125.52, 0); border-radius: 14px; outline: 1px black solid; outline-offset: -1px; flex-direction: column; justify-content: center; align-items: center; gap: 10px; display: inline-flex">
        <div style="text-align: center; color: black; font-size: 17px; font-family: Euclid Circular A; font-weight: 400; line-height: 27px; word-wrap: break-word">Imparfait (imperfect past)</div>
    </div>
    <div style="width: 163px; padding: 14.50px; left: 60px; top: 873px; position: absolute; background: #A6A6A6; border-radius: 14px; justify-content: center; align-items: center; gap: 10px; display: inline-flex">
        <div style="text-align: center; color: white; font-size: 17px; font-family: Euclid Circular A; font-weight: 400; line-height: 27px; word-wrap: break-word">Back</div>
    </div>
    <div style="width: 163px; padding: 14.50px; left: 1221px; top: 873px; position: absolute; background: #6AC47E; border-radius: 14px; flex-direction: column; justify-content: center; align-items: center; gap: 10px; display: inline-flex">
        <div style="text-align: center; color: white; font-size: 17px; font-family: Euclid Circular A; font-weight: 400; line-height: 27px; word-wrap: break-word">Submit</div>
    </div>
    <div style="width: 1282px; height: 112px; padding-left: 24px; padding-right: 24px; padding-top: 16px; padding-bottom: 16px; left: 79px; top: 929px; position: absolute; border-radius: 8px; justify-content: space-between; align-items: center; display: inline-flex">
        <div style="width: 1186px; height: 1px; left: 48px; top: 47px; position: absolute; justify-content: flex-start; align-items: center; display: flex">
            <div style="flex: 1 1 0; height: 1px; position: relative; background: #6AC47E"></div>
            <div style="flex: 1 1 0; height: 1px; position: relative; background: #6AC47E"></div>
            <div style="flex: 1 1 0; height: 1px; position: relative; background: #C6C6C6"></div>
            <div style="flex: 1 1 0; height: 1px; position: relative; background: #C6C6C6"></div>
        </div>
        <div style="width: 48px; flex-direction: column; justify-content: flex-start; align-items: center; gap: 2px; display: inline-flex">
            <div data-type="Check" style="width: 20px; height: 20px; padding: 2px; background: #6AC47E; border-radius: 64px; justify-content: center; align-items: center; display: inline-flex">
                <div data-name="Check" data-type="Line" style="flex: 1 1 0; align-self: stretch; position: relative">
                    <div style="width: 6.66px; height: 4.78px; left: 4.67px; top: 5.61px; position: absolute; background: white"></div>
                    <div style="width: 16px; height: 16px; left: 0px; top: 0px; position: absolute; opacity: 0"></div>
                </div>
            </div>
            <div style="text-align: center; color: #6F6F6F; font-size: 10px; font-family: Lato; font-weight: 500; line-height: 16px; letter-spacing: 0.50px; word-wrap: break-word">Identify Tense</div>
        </div>
        <div style="width: 48px; flex-direction: column; justify-content: flex-start; align-items: center; gap: 2px; display: inline-flex">
            <div data-type="Check" style="width: 20px; height: 20px; padding: 2px; background: #6AC47E; border-radius: 64px; justify-content: center; align-items: center; display: inline-flex">
                <div data-name="Check" data-type="Line" style="flex: 1 1 0; align-self: stretch; position: relative">
                    <div style="width: 6.66px; height: 4.78px; left: 4.67px; top: 5.61px; position: absolute; background: white"></div>
                    <div style="width: 16px; height: 16px; left: 0px; top: 0px; position: absolute; opacity: 0"></div>
                </div>
            </div>
            <div style="text-align: center; color: #6F6F6F; font-size: 10px; font-family: Lato; font-weight: 500; line-height: 16px; letter-spacing: 0.50px; word-wrap: break-word">Identify Subject</div>
        </div>
        <div style="width: 48px; flex-direction: column; justify-content: flex-start; align-items: center; gap: 2px; display: inline-flex">
            <div data-type="Progressing" style="width: 20px; height: 20px; padding: 2px; background: white; border-radius: 64px; outline: 1px #6AC47E solid; outline-offset: -1px; justify-content: center; align-items: center; display: inline-flex">
                <div data-step="1" style="flex: 1 1 0; align-self: stretch; position: relative; overflow: hidden">
                    <div style="width: 4px; height: 4px; left: 6px; top: 6px; position: absolute; background: #6AC47E; border-radius: 9999px"></div>
                </div>
            </div>
            <div style="text-align: center; color: #6F6F6F; font-size: 10px; font-family: Lato; font-weight: 500; line-height: 16px; letter-spacing: 0.50px; word-wrap: break-word">Identify Subject Type</div>
        </div>
        <div style="width: 48px; flex-direction: column; justify-content: flex-start; align-items: center; gap: 2px; display: inline-flex">
            <div data-type="Empty" style="width: 20px; height: 20px; padding: 2px; background: white; border-radius: 64px; border: 1px #C6C6C6 solid"></div>
            <div style="text-align: center; color: #6F6F6F; font-size: 10px; font-family: Lato; font-weight: 500; line-height: 16px; letter-spacing: 0.50px; word-wrap: break-word">Choose the correct conjugation</div>
        </div>
        <div style="width: 48px; flex-direction: column; justify-content: flex-start; align-items: center; gap: 2px; display: inline-flex">
            <div data-type="Empty" style="width: 20px; height: 20px; padding: 2px; background: white; border-radius: 64px; border: 1px #C6C6C6 solid"></div>
            <div style="text-align: center; color: #6F6F6F; font-size: 10px; font-family: Lato; font-weight: 500; line-height: 16px; letter-spacing: 0.50px; word-wrap: break-word">Success</div>
        </div>
    </div>
 </div>