{% extends "storyboard/base.html" %}

{% load static %}
{% static "" as baseUrl %}

{% block user-info %}
<div style = "color:white; font-size: 18px; padding-top: 5pt; padding-right: 5pt;">{{user.username}}</div>
{% endblock %}

{% block content %}

    <div class = "col-sm-12 backgroundinfo">
        
                 <p>In this activity, imagine your peers are designing Storyboards to improve users' transportation experience around CMU. They first identified a list of user needs and then designed Storyboards to address the needs. In the next step, they will use these Storyboards to conduct Speed Dating session with users. They wrote Lead Questions for the Speed Dating sessions. You will read examples of Storyboards and associated Lead Questions. Your task now is to evaluate the quality of the examples and <strong>select a piece of feedback</strong> for each.</p>


    </div>


    <div class = "col-sm-12">
    <h1>Question {{pageid|add:1}} out of {{section.numberofquestions}}</h1>
    </div>
    
    <form class = "form-horizontal" method = "post" action = "{% url 'nextpage4' %}">
    <div class = "col-sm-12">
     <br><br>
    <p><strong>This storyboard addresses the following user need:</strong></p>
    {{question.question_stem|safe}}
    <br><br>


    <p><strong>Lead Question:</strong></p>
    {{question.question_stem_ctn|safe}}
    <br><br>
<!--     <p><strong>Evidence:</strong></p>
    {{question.question_stem_ctn|safe}}
    <br><br>

    <p><strong>Explanation:</strong></p>
    {{question.question_stem_ctn2|safe}}
    </div>
 -->
    <p><strong>Storyboard:</strong></p>


    {% if imagelist %}
    {% for img in imagelist%}
    <div class = "col-sm-12 crop">
    <img src="/static/storyboard/images/{{img}}"></img>
    <br>
    <br>

    </div>
    {% endfor %}
    {% endif %}
    
    </div>
    <div class = "col-sm-12">
    <h4><strong>Which of the following is the most informative feedback you could offer to this Storyboard?</strong></h4>
    </div>
    <div class = "col-sm-12">
    {{form.response}}
    </div>

   <div class = "col-sm-12" id = "feedbackmessage">
        {% if attempted %}
        {{feedbackmessage|safe}}
        {% endif %}
    </div>

    <div class = "col-sm-12">

    {{form.justification}}
    </div>

    <div class = "col-sm-12">
    <input type="hidden" name="pageid" id = "pageid" value = "{{pageid}}">
    <input type="hidden" name="questionid" id = "questionid" value = "{{question.id}}">
    <input type="hidden" name="sectionid" id = "sectionid" value = "{{section.pk}}">
    <input type = "hidden" name = "attempted" id = "attempted" value = "{{attempted}}">

    </div>


    <div class = "col-sm-12" id = "nextquestion" style = "visibility:hidden;">
    <button class = "btn main" id = "nextquestion">Next Question</button>
    </div>
    {% csrf_token %}
    </form>
    <div class = "col-sm-12" id = "checkanswerdiv">
    <button class = "btn main" id = "checkanswer">Check Answer</button>
    </div>



<script type="text/javascript">

$(document).ready(function(){

    var sectionid = document.getElementById("sectionid").value;
    section_a_name = "section"+sectionid+"_a";
    var section_a = document.getElementById(section_a_name);
    section_a.className+=" active";


        var attempted = document.getElementById("attempted").value;
        if (attempted == "True"){
            document.getElementById("checkanswerdiv").style.visibility = "hidden";  
            document.getElementById("nextquestion").style.visibility = "visible";  
            document.getElementById("id_response_0").disabled = true;
            document.getElementById("id_response_1").disabled = true;
            document.getElementById("id_response_2").disabled = true;
            document.getElementById("id_response_3").disabled = true;
        }



    $("#checkanswer").on("click", function(){
        console.log("here");
        var $form = $("form");
        var data = getFormData($form);


        if(!("response" in data)){
            alert("Please answer the question.");
        }
        else{
        $.ajax({
            url: "/storyboard/imagefeedback4",
            type:"POST",
            data: data,
            dataType: "json",
            success: function(response){
    
                if (response.alertmessage == "True"){
            alert("You are not allowed to modify your answers. Previous answers and feedback are shown.")
             location.reload(true);       }
             else{
            $('#feedbackmessage').empty();
            $('#feedbackmessage').append(response.feedbackmessage);
            document.getElementById("checkanswerdiv").style.visibility = "hidden";  
            document.getElementById("nextquestion").style.visibility = "visible";  
            document.getElementById("id_response_0").disabled = true;
            document.getElementById("id_response_1").disabled = true;
            document.getElementById("id_response_2").disabled = true;
            document.getElementById("id_response_3").disabled = true;
            }
        }
        });
    }


    });

});


function getFormData($form){
    var unindexed_array = $form.serializeArray();
    var indexed_array = {};

    $.map(unindexed_array, function(n, i){
        indexed_array[n['name']] = n['value'];

    });
    return indexed_array
}

function add_checkbox_values(indexed_array){

            var checkboxValues = [];
        $('input[type="checkbox"]:checked').each(function(index, elem){
        checkboxValues.push($(elem).val());});
        console.log(checkboxValues);
  
    indexed_array["checkboxvalues[]"] = checkboxValues;
    return indexed_array
}
function getCSRFToken(){
    var cookies = document.cookie.split(";");
    for (var i = 0; i < cookies.length; i++) {
        cookieitem = cookies[i].trim();
        if (cookieitem.startsWith("csrftoken=")) {
            return cookieitem.substring("csrftoken=".length, cookieitem.length);
        }
    }
    return "unknown";
}


</script>

{% endblock %}