{% extends "storyboard/base.html" %}

{% block user-info %}
<div style = "color:white; font-size: 18px; padding-top: 5pt; padding-right: 5pt;">
    <a class="navbar-brand" href="/login" style="padding-top: 2pt;">Log Out</a>
    {{user.username}}
</div>
{% endblock %}

{% block content %}

<h2>Review for this Sentence</h2>

<p><strong>{{ question.sentence }}</strong></p>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Sub-question</th>
            <th>Your Answer</th>
            <th>Correct Answer</th>
        </tr>
    </thead>
    <tbody>
        {% for item in summary_items %}
        <tr>
            <td>{{ item.subq_label }}</td>
            <td>
                {% if item.is_correct %}
                    <span style="color:green">{{ item.user_answer }}</span>
                {% else %}
                    <span style="color:red">{{ item.user_answer }}</span>
                {% endif %}
            </td>
            <td>{{ item.correct_answer }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% if is_last_question %}
<a class="btn main" href="{% url 'section3' %}">Finish Section</a>
{% else %}
<a class="btn main" href="{% url 'section3_questionpage' qid|add:'1' 0 %}">Next Sentence</a>
{% endif %}

{% endblock %}
