{% extends "storyboard/base.html" %}

{% load static %}

                    {% block user-info %}
                    <div style = "color:white; font-size: 18px; padding-top: 5pt; padding-right: 5pt;">{{user.username}}</div>
                    {% endblock %}
{% block content %}
<div class = "col-sm-12">
<h1>Instructions</h1>
<form class = "form-horizontal" method = "post" action = "{% url 'section4' %}">
<p>In this section, you will practice <strong>evaluating the quality of Storyboards and their Lead Questions.</strong> </p>
<p>
<strong>Remember</strong> to reflect on these examples and try to learn from them instead of simply trying to get the answers right.</p>
<p>
The possible score for this section is 4. The estimated time of completion is 10 minutes. You have unlimited attempts for this section. Please allocate enough time to finish the section in one sitting. If you leave in the middle of a section, your score for that section will be the number of questions you correctly answered. We will keep the highest score.</p>

<br>
<h3>Section Status:</h3>
<p style = "color: green;">
   {{sectionstatus}} 
</p>
<input type="submit" name="section4" value = "Begin">
{% csrf_token %}
</form>
</div>
{% endblock %}