{% extends "storyboard/base.html" %}

{% load static %}

                    {% block user-info %}
                    <div style = "color:white; font-size: 18px; padding-top: 5pt; padding-right: 5pt;">{{user.username}}</div>
                    {% endblock %}
{% block content %}
<div class = "col-sm-12">
   <h1>Instructions</h1>
   <form class = "form-horizontal" method = "post" action = "{% url 'section2' %}">
   <p>Get practice with <strong>sentence structure</strong> and <strong>noun/article/pronoun agreement</strong>.</p>
   <p> Be sure to pay attention to provided context as well as linguistic cues in the sentences to help you choose proper verb conjugations.</p>
   
   <p>
   Once you feel confident in your abilities and to get more practice applying your skills in context, you can try one of our conversation chatbots by navigating to the Scenario-Based Chatbot tab.</p>
   
   <br>
   <h3>Practice History:</h3>
   <p>
      {{sectionstatus}} <br>
      Maybe keep this to show how many practice problems they've worked through?
   </p>
   <input type="submit" name="section3" value = "Start Practicing">
{% csrf_token %}
</form>
</div>
{% endblock %}